<section class="section">
	<header>
		<h3>Tag Cloud</h3>
	</header>
	<p class="tags">
		{{ tags|raw }}
	</p>
</section>
<section class="section">
	<header>
		<h3>Latest Comments</h3>
	</header>
	{% for comment in allComments %}
		<article class="comment">
			<header>
				<p class="small">
					<span class="highlight">{{ comment['user'] }}</span>
					commented on
					{# <a href="http://symblog.es/show?id={{ comment['blogId'] }}">{{ comment['blogTitle'] }}</a> #}
				</p>
			</header>
			<p>{{ comment['comment'] }}</p>
		</article>
	{% endfor %}
</section>
